#heading
{
    display:flex ;
    justify-content: center;
    align-items: center;
}
#brief
{
    display:flex ;
    justify-content: center;
    align-items: center;
}
#work
{
    display:flex ;
    justify-content: center;
    align-items: center;
}